body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#take_snapshot:hover {
    background-color: pink;
}

canvas {
    animation: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 1px 1px 30px yellow;
    }
    to {
        box-shadow: 1px 1px 30px pink;
    }
}